/*Tamaño tableta*/
@media (max-width: 768px) {

    #menu-burger{
      display: none;
    }
  
    #boton-cerrar, .vender, #usuario{
      display: none;
    }

    #lista-productos{
        
    }

    #categorias{
     padding-left: 0px;
     
    }
  .container{
    padding: 5px
  }

/*Tamaño celular*/
